body {
    font-size: 14px;
    color: #363636;

    font-weight: 300;
}

@mixin a {
    display: inline-block;
    color: #fdfcfc;
    font-family: 'Roboto',
        sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

@mixin wrapper {
    width: 993px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

@mixin wrap {
    width: 100%;
    margin: 0 auto;
    display: block;
}

@mixin btn {
    color: #464646;
    background: #ffc038;
    padding: 17px 37px;
    margin-top: 15px;
    border-radius: 3px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
}



.blockYellow {
    background: #ffc038;
    font-family: 'Roboto',
        sans-serif;
    padding: 88px 0 58px 0;


    .headerBody {
        @include wrapper();
        color: #464646;
        padding-bottom: 89px;

        h1 {
            width: 40%;
            font-family: 'Roboto',
                sans-serif;
            font-weight: 900;
            font-size: 26px;
            text-transform: uppercase;

            span {
                color: #fdfcfc;
                border: 3px solid #fff200;
                padding: 1px 17px;
            }

        }

        nav {
            width: 60%;

            ul {
                width: 100%;
                display: flex;
                justify-content: space-between;

                li {
                    text-align: center;

                    a {
                        @include a();
                        text-transform: uppercase;
                        font-weight: 700;
                        color: #464646;

                    }
                }

            }
        }


    }

    .headerSection {
        @include wrapper();

        .block {
            width: 40%;
            color: #fdfcfc;
            position: relative;

            &::before {
                content: "";
                width: 376px;
                height: 51px;
                background: url('../../build/img/Shape_1.png') no-repeat;
                position: absolute;
                top: -12px;
                right: -250px;
            }

            &::after {
                content: "";
                width: 34px;
                height: 24px;
                background: url('../../build/img/send_black.png') no-repeat;
                position: absolute;
                top: 12px;
                right: -277px;
            }

            h2 {
                font-size: 40px;
                font-weight: 700;
                text-transform: uppercase;
                height: 105px;

                p {
                    font-size: 38px;
                    line-height: 55px;
                }

            }

            >p {
                line-height: 30px;
                font-size: 16px;
                font-weight: 300;
                padding-right: 30px;
            }
        }

        .owl-carousel {
            width: 60%;
            margin-top: 50px;
            order: 1;

            img {
                max-height: 365px;
            }

            .owl-carouselImgPhone {
                &:after {
                    content: "";
                    width: 177px;
                    height: 307px;
                    background: url('../../build/img/MObile.png') no-repeat;
                    position: absolute;
                    bottom: 18px;
                    right: 0;
                }
            }
        }

        a.btn {
            @include a();
            background: #464646;
            padding: 15px 19px 15px 19px;
            margin-top: 30px;
            border-radius: 3px;
            box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);

            &:after {
                display: inline-block;
                content: "";
                width: 27px;
                height: 19px;
                background: url('../../build/img/send_white.png') no-repeat;
                margin-left: 10px;
            }
        }
    }
}

main {
    @include wrapper();
    font-family: 'Roboto',
        sans-serif;

    .mainSection1 {
        text-align: center;

        .title {
            display: inline-block;
            color: #fff;
            background: #464646;
            padding: 11px 92px;
            border-radius: 3px;
            font-size: 26px;
            text-transform: uppercase;
            font-family: 'Source Sans Pro',
                sans-serif;
            font-weight: 700;
            margin: 140px 0 180px;
            box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
            position: relative;

            &:before {
                display: inline-block;
                content: "";
                width: 56px;
                height: 96px;
                background: url('../../build/img/Shape_2.png') no-repeat;
                margin-left: 10px;
                position: absolute;
                top: 24px;
                right: -71px;


            }

            &::after {
                content: "";
                width: 34px;
                height: 24px;
                background: url('../../build/img/send_black.png') no-repeat;
                position: absolute;
                top: 117px;
                right: -24px;
                transform: rotate3d(0, 4, 0, 197deg);
            }
        }

    }

    .mainSection1__block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 220px;

        .blockImg {
            width: 50%;

            img {
                width: 100%;
                height: auto;
            }
        }

        .blockText {
            width: 50%;
            text-align: left;
            padding-left: 97px;

            h3 {
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                color: #252525;
                margin-bottom: 20px;
            }

            p {
                line-height: 23px;
            }

            a {
                @include a();
                @include btn();
            }
        }
    }

    .mainSection1__block+.mainSection1__block {
        .blockText {
            padding: 0 97px 0 0;
            order: -1;
        }
    }

    .mainSection1__block+.mainSection1__block+.mainSection1__block {
        .blockText {
            padding: 0 0 0 97px;
            order: 1;
        }
    }
}