@import '_mixin';

body {
    font-size: 14px;
    color: #363636;
    font-weight: 300;
}




.blockYellow {
    background: #ffc038;
    font-family: 'Roboto',
        sans-serif;
    padding: 88px 0 58px 0;


    .headerBody {
        @include wrapper();
        color: #464646;
        padding-bottom: 89px;

        h1 {
            width: 40%;
            font-family: 'Roboto',
                sans-serif;
            font-weight: 900;
            font-size: 26px;
            text-transform: uppercase;

            span {
                color: #fdfcfc;
                border: 3px solid #fff200;
                padding: 1px 17px;
            }

        }

        nav {
            width: 60%;

            ul {
                width: 100%;
                display: flex;
                justify-content: space-between;

                li {
                    text-align: center;

                    a {
                        @include a();
                        text-transform: uppercase;
                        font-weight: 700;
                        color: #464646;

                    }
                }

            }
        }


    }

    .headerSection {
        @include wrapper();


        .block {
            width: 40%;
            color: #fdfcfc;
            position: relative;

            &::before {
                content: "";
                width: 376px;
                height: 51px;
                background: url('../../build/img/Shape_1.png') no-repeat;
                position: absolute;
                top: -12px;
                right: -250px;
            }

            &::after {
                content: "";
                width: 34px;
                height: 24px;
                background: url('../../build/img/send_black.png') no-repeat;
                position: absolute;
                top: 12px;
                right: -277px;
            }

            h2 {
                font-size: 40px;
                font-weight: 700;
                text-transform: uppercase;
                height: 105px;

                p {
                    font-size: 38px;
                    line-height: 55px;
                }

            }

            >p {
                line-height: 30px;
                font-size: 16px;
                font-weight: 300;
                padding-right: 30px;
            }
        }

        .owl-carousel {
            width: 60%;
            margin-top: 50px;
            order: 1;

            img {
                max-height: 365px;
            }

            .owl-carouselImgPhone {
                &:after {
                    content: "";
                    width: 177px;
                    height: 307px;
                    background: url('../../build/img/MObile.png') no-repeat;
                    position: absolute;
                    bottom: 18px;
                    right: 0;
                }
            }
        }

        a.btn {
            @include a();
            background: #464646;
            padding: 15px 19px 15px 19px;
            margin-top: 30px;
            border-radius: 3px;
            box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);

            &:after {
                display: inline-block;
                content: "";
                width: 27px;
                height: 19px;
                background: url('../../build/img/send_white.png') no-repeat;
                margin-left: 10px;
            }
        }
    }
}

main {
    @include wrapper();
    display: block;


    .mainSection1 {
        text-align: center;

        .title {
            @include title();

            &:before {
                @include titleBefore();
            }

            &::after {
                @include titleAfter();
            }
        }

    }

    .mainSection1__block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 220px;

        .blockImg {
            width: 50%;

            img {
                width: 100%;
                height: auto;
            }
        }

        .blockText {
            width: 50%;
            text-align: left;
            padding-left: 97px;

            h3 {
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                color: #252525;
                margin-bottom: 20px;
            }

            p {
                line-height: 23px;
            }

            a {
                @include a();
                @include btn();
            }
        }
    }

    .mainSection1__block+.mainSection1__block {
        .blockText {
            padding: 0 97px 0 0;
            order: -1;
        }
    }

    .mainSection1__block+.mainSection1__block+.mainSection1__block {
        .blockText {
            padding: 0 0 0 97px;
            order: 1;
        }
    }
}


.sectionContent {
    background: repeating-linear-gradient(-45deg, #fcfcfc, #fcfcfc 7px, #f9f9f9 5px, #f9f9f9 9px) fixed;

    .sectionContent__block {
        @include wrapper();
        display: block;
        text-align: center;


        p {
            @include title();
            margin: 85px 0 150px;

            &:before {
                @include titleBefore();
                right: 0;
                left: -82px;
                transform: rotateY(178deg);
            }

            &::after {
                @include titleAfter();
                right: 0;
                left: -24px;
                transform: rotate3d(0, 0, 0, 0deg);

            }


        }

    }

    .sectionContent__block_background {
        padding: 470px 0;
        background: url('../../build/img/Vector_Smart_Object.png') no-repeat;
    }
}

.sectionFeatures {
    @include wrapper();
    display: block;
    text-align: center;

    .title {
        text-align: center;
        @include title();
        margin: 90px 0 130px;
        padding: 12px 78px;


        &:before {
            @include titleBefore();
        }

        &::after {
            @include titleAfter();
        }
    }

    .sectionFeatures__block {
        @include wrapper();
        flex-wrap: wrap;
        text-align: left;

        article {
            width: 30%;
            padding-left: 35px;
            margin: 30px 0;

            h4 {
                font-size: 18px;
                font-weight: 400;
                line-height: 25px;
                color: #3a3a3a;
                font-weight: 400;
                position: relative;

                &:before {
                    content: "";
                    width: 31px;
                    height: 31px;
                    background: url('../../build/img/cropping4.svg') no-repeat;
                    position: absolute;
                    top: 5px;
                    left: -35px;
                }
            }

            p {
                color: #636363;
                font-weight: 300;
                font-size: 14px;
            }
        }

        article+article {
            h4 {
                &:before {
                    background: url('../../build/img/lcd.svg') no-repeat;

                }
            }
        }

        article+article+article {
            h4 {
                &:before {
                    width: 35px;
                    background: url('../../build/img/notebook.svg') no-repeat;
                    left: -38px;

                }
            }
        }

        article+article+article+article {
            h4 {
                &:before {
                    background: url('../../build/img/pencil.svg') no-repeat;

                }
            }
        }

        article+article+article+article+article {
            h4 {
                &:before {
                    background: url('../../build/img/wallet.svg') no-repeat;

                }
            }
        }

        article+article+article+article+article+article {
            h4 {
                &:before {
                    background: url('../../build/img/hand2.svg') no-repeat;

                }
            }
        }

        article+article+article+article+article+article+article {
            h4 {
                &:before {
                    background: url('../../build/img/globe32.svg') no-repeat;

                }
            }
        }

        article+article+article+article+article+article+article+article {
            h4 {
                &:before {
                    background: url('../../build/img/cropping4.svg') no-repeat;

                }
            }
        }

        article+article+article+article+article+article+article+article+article {
            h4 {
                &:before {
                    background: url('../../build/img/bag.svg') no-repeat;

                }
            }
        }

        article+article+article+article+article+article+article+article+article+article {
            h4 {
                &:before {
                    background: url('../../build/img/dish.svg') no-repeat;

                }
            }
        }

        article+article+article+article+article+article+article+article+article+article+article {
            h4 {
                &:before {
                    background: url('../../build/img/wealth.svg') no-repeat;

                }
            }
        }

        article+article+article+article+article+article+article+article+article+article+article+article {
            h4 {
                &:before {
                    background: url('../../build/img/soft.svg') no-repeat;
                    left: -30px;

                }
            }
        }
    }
}

.sectionPrice {
    width: 993px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto',
        sans-serif;
    @include title_before_after();

    .sectionPrice__Block {
        display: flex;
        flex-wrap: wrap;

        ul {
            width: 33%;

            li {
                font-size: 16px;
                font-weight: 500;
                color: #b3b3b3;
                vertical-align: baseline;
                padding: 15px 0;
            }
        }

        .priceTitleBasic {
            li {
                border-bottom: 2px solid #ffbf37;
                border-right: 2px solid #ffbf37;

                span {
                    font-size: 25px;
                }

                &:first-child {
                    color: #8d8d8d;
                    font-size: 23px;
                    font-weight: 400;
                }

                &:last-child {
                    font-size: 35px;
                    padding-top: 50px;
                    border-bottom: none;
                }
            }
        }

        .priceTitleStandart {
            li {
                color: #000;
                border-bottom: 2px solid #ffbf37;

                span {
                    font-size: 20px;
                }

                &:first-child {
                    color: #f26c4f;
                    font-size: 27px;
                    font-weight: 400;
                    margin-top: -14px;
                    padding: 0 0 40px 0;
                }

                &:last-child {
                    font-size: 68px;
                    color: #f26c4f;
                    border-bottom: none;
                }
            }
        }

        .priceTitlePremium {
            li {
                border-bottom: 2px solid #ffbf37;
                border-left: 2px solid #ffbf37;

                span {
                    font-size: 25px;
                }

                &:first-child {
                    color: #fbc73a;
                    font-size: 23px;
                    font-weight: 400;
                }

                &:last-child {
                    font-size: 35px;
                    color: #efb415;
                    padding-top: 50px;
                    border-bottom: none;
                }
            }
        }

        .sectionPrice__Block2 {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin: 40px 0;

            .basicImput {
                @include priceImput();
                background: #a5a5a5;
            }

            .standartImput {
                background: #f26c4f;
                font-size: 17px;
                font-weight: 400;
                padding: 17px 57px;
                border-radius: 3px;
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
                box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
            }

            .ptemiumImput {
                @include priceImput();
                background: #ffc038;
                ;
            }
        }
    }

}

.sectionHistory {
    @include wrapper();
    padding: 65px 0;

    .sectionHistory__bloc {
        background: #fff;
        padding: 20px;
    }

    .sectionHistory__block2 {
        margin-left: 20px;

        p.title {
            @include title();
            margin: 0;
            padding: 15px 32px;
        }

        p.title+p {
            padding: 20px 0;
            font-size: 16px;
            font-weight: 300;
            line-height: 30px;
        }

        a {
            @include a();
            @include btn();
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            color: #3a3a3a;
        }
    }

}