body {
  font-size: 14px;
  color: #363636;
  font-weight: 300; }

.blockYellow {
  background: #ffc038;
  font-family: 'Roboto', sans-serif;
  padding: 88px 0 58px 0; }
  .blockYellow .headerBody {
    width: 993px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    color: #464646;
    padding-bottom: 89px; }
    .blockYellow .headerBody h1 {
      width: 40%;
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      font-size: 26px;
      text-transform: uppercase; }
      .blockYellow .headerBody h1 span {
        color: #fdfcfc;
        border: 3px solid #fff200;
        padding: 1px 17px; }
    .blockYellow .headerBody nav {
      width: 60%; }
      .blockYellow .headerBody nav ul {
        width: 100%;
        display: flex;
        justify-content: space-between; }
        .blockYellow .headerBody nav ul li {
          text-align: center; }
          .blockYellow .headerBody nav ul li a {
            display: inline-block;
            color: #fdfcfc;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            color: #464646; }
  .blockYellow .headerSection {
    width: 993px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif; }
    .blockYellow .headerSection .block {
      width: 40%;
      color: #fdfcfc;
      position: relative; }
      .blockYellow .headerSection .block::before {
        content: "";
        width: 376px;
        height: 51px;
        background: url("../../build/img/Shape_1.png") no-repeat;
        position: absolute;
        top: -12px;
        right: -250px; }
      .blockYellow .headerSection .block::after {
        content: "";
        width: 34px;
        height: 24px;
        background: url("../../build/img/send_black.png") no-repeat;
        position: absolute;
        top: 12px;
        right: -277px; }
      .blockYellow .headerSection .block h2 {
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        height: 105px; }
        .blockYellow .headerSection .block h2 p {
          font-size: 38px;
          line-height: 55px; }
      .blockYellow .headerSection .block > p {
        line-height: 30px;
        font-size: 16px;
        font-weight: 300;
        padding-right: 30px; }
    .blockYellow .headerSection .owl-carousel {
      width: 60%;
      margin-top: 50px;
      order: 1; }
      .blockYellow .headerSection .owl-carousel img {
        max-height: 365px; }
      .blockYellow .headerSection .owl-carousel .owl-carouselImgPhone:after {
        content: "";
        width: 177px;
        height: 307px;
        background: url("../../build/img/MObile.png") no-repeat;
        position: absolute;
        bottom: 18px;
        right: 0; }
    .blockYellow .headerSection a.btn {
      display: inline-block;
      color: #fdfcfc;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      background: #464646;
      padding: 15px 19px 15px 19px;
      margin-top: 30px;
      border-radius: 3px;
      box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25); }
      .blockYellow .headerSection a.btn:after {
        display: inline-block;
        content: "";
        width: 27px;
        height: 19px;
        background: url("../../build/img/send_white.png") no-repeat;
        margin-left: 10px; }

.section1 {
  width: 993px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  display: block;
  text-align: center; }
  .section1 .title {
    display: inline-block;
    color: #fff;
    background: #464646;
    padding: 11px 92px;
    border-radius: 3px;
    font-size: 26px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    margin: 140px 0 180px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
    position: relative; }
    .section1 .title:before {
      display: inline-block;
      content: "";
      width: 56px;
      height: 96px;
      background: url("../../build/img/Shape_2.png") no-repeat;
      margin-left: 10px;
      position: absolute;
      top: 24px;
      right: -71px; }
    .section1 .title::after {
      content: "";
      width: 34px;
      height: 24px;
      background: url("../../build/img/send_black.png") no-repeat;
      position: absolute;
      top: 117px;
      right: -24px;
      transform: rotateY(178deg); }
  .section1 .section1__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 220px; }
    .section1 .section1__block .blockImg {
      width: 50%; }
      .section1 .section1__block .blockImg img {
        width: 100%;
        height: auto; }
    .section1 .section1__block .blockText {
      width: 50%;
      text-align: left;
      padding-left: 97px; }
      .section1 .section1__block .blockText h3 {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #252525;
        margin-bottom: 20px; }
      .section1 .section1__block .blockText p {
        line-height: 23px;
        font-size: 16px; }
      .section1 .section1__block .blockText a {
        display: inline-block;
        color: #fdfcfc;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: #464646;
        background: #ffc038;
        padding: 17px 37px;
        margin-top: 15px;
        border-radius: 3px;
        box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25); }
  .section1 .section1__block + .section1__block .blockText {
    padding: 0 97px 0 0;
    order: -1; }
  .section1 .section1__block + .section1__block + .section1__block .blockText {
    padding: 0 0 0 97px;
    order: 1; }

.sectionContent {
  background: repeating-linear-gradient(-45deg, #fcfcfc, #fcfcfc 7px, #f9f9f9 5px, #f9f9f9 9px) fixed; }
  .sectionContent .sectionContent__block {
    width: 993px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    display: block;
    text-align: center; }
    .sectionContent .sectionContent__block p {
      display: inline-block;
      color: #fff;
      background: #464646;
      padding: 11px 92px;
      border-radius: 3px;
      font-size: 26px;
      text-transform: uppercase;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 700;
      margin: 140px 0 180px;
      box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
      position: relative;
      margin: 85px 0 150px; }
      .sectionContent .sectionContent__block p:before {
        display: inline-block;
        content: "";
        width: 56px;
        height: 96px;
        background: url("../../build/img/Shape_2.png") no-repeat;
        margin-left: 10px;
        position: absolute;
        top: 24px;
        right: -71px;
        right: 0;
        left: -82px;
        transform: rotateY(178deg); }
      .sectionContent .sectionContent__block p::after {
        content: "";
        width: 34px;
        height: 24px;
        background: url("../../build/img/send_black.png") no-repeat;
        position: absolute;
        top: 117px;
        right: -24px;
        transform: rotateY(178deg);
        right: 0;
        left: -24px;
        transform: rotate3d(0, 0, 0, 0deg); }
  .sectionContent .sectionContent__block_background {
    padding: 470px 0;
    background: url("../../build/img/Vector_Smart_Object.png") no-repeat; }

.sectionFeatures {
  width: 993px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  display: block;
  text-align: center; }
  .sectionFeatures .title {
    text-align: center;
    display: inline-block;
    color: #fff;
    background: #464646;
    padding: 11px 92px;
    border-radius: 3px;
    font-size: 26px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    margin: 140px 0 180px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
    position: relative;
    margin: 90px auto 130px;
    padding: 12px 78px; }
    .sectionFeatures .title:before {
      display: inline-block;
      content: "";
      width: 56px;
      height: 96px;
      background: url("../../build/img/Shape_2.png") no-repeat;
      margin-left: 10px;
      position: absolute;
      top: 24px;
      right: -71px; }
    .sectionFeatures .title::after {
      content: "";
      width: 34px;
      height: 24px;
      background: url("../../build/img/send_black.png") no-repeat;
      position: absolute;
      top: 117px;
      right: -24px;
      transform: rotateY(178deg); }
  .sectionFeatures .sectionFeatures__block {
    width: 993px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
    text-align: left; }
    .sectionFeatures .sectionFeatures__block article {
      width: 30%;
      padding-left: 35px;
      margin: 30px 0; }
      .sectionFeatures .sectionFeatures__block article h4 {
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        color: #3a3a3a;
        font-weight: 400;
        position: relative; }
        .sectionFeatures .sectionFeatures__block article h4:before {
          content: "";
          width: 31px;
          height: 31px;
          background: url("../../build/img/cropping4.svg") no-repeat;
          position: absolute;
          top: 5px;
          left: -35px; }
      .sectionFeatures .sectionFeatures__block article p {
        color: #636363;
        font-weight: 300;
        font-size: 14px; }
    .sectionFeatures .sectionFeatures__block article + article h4:before {
      background: url("../../build/img/lcd.svg") no-repeat; }
    .sectionFeatures .sectionFeatures__block article + article + article h4:before {
      width: 35px;
      background: url("../../build/img/notebook.svg") no-repeat;
      left: -38px; }
    .sectionFeatures .sectionFeatures__block article + article + article + article h4:before {
      background: url("../../build/img/pencil.svg") no-repeat; }
    .sectionFeatures .sectionFeatures__block article + article + article + article + article h4:before {
      background: url("../../build/img/wallet.svg") no-repeat; }
    .sectionFeatures .sectionFeatures__block article + article + article + article + article + article h4:before {
      background: url("../../build/img/hand2.svg") no-repeat; }
    .sectionFeatures .sectionFeatures__block article + article + article + article + article + article + article h4:before {
      background: url("../../build/img/globe32.svg") no-repeat; }
    .sectionFeatures .sectionFeatures__block article + article + article + article + article + article + article + article h4:before {
      background: url("../../build/img/cropping4.svg") no-repeat; }
    .sectionFeatures .sectionFeatures__block article + article + article + article + article + article + article + article + article h4:before {
      background: url("../../build/img/bag.svg") no-repeat; }
    .sectionFeatures .sectionFeatures__block article + article + article + article + article + article + article + article + article + article h4:before {
      background: url("../../build/img/dish.svg") no-repeat; }
    .sectionFeatures .sectionFeatures__block article + article + article + article + article + article + article + article + article + article + article h4:before {
      background: url("../../build/img/wealth.svg") no-repeat; }
    .sectionFeatures .sectionFeatures__block article + article + article + article + article + article + article + article + article + article + article + article h4:before {
      background: url("../../build/img/soft.svg") no-repeat;
      left: -30px; }

.sectionPrice {
  width: 993px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif; }
  .sectionPrice p {
    display: inline-block;
    color: #fff;
    background: #464646;
    padding: 11px 92px;
    border-radius: 3px;
    font-size: 26px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    margin: 140px 0 180px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
    position: relative;
    margin: 85px 0 150px; }
    .sectionPrice p:before {
      display: inline-block;
      content: "";
      width: 56px;
      height: 96px;
      background: url("../../build/img/Shape_2.png") no-repeat;
      margin-left: 10px;
      position: absolute;
      top: 24px;
      right: -71px;
      right: 0;
      left: -82px;
      transform: rotateY(178deg); }
    .sectionPrice p::after {
      content: "";
      width: 34px;
      height: 24px;
      background: url("../../build/img/send_black.png") no-repeat;
      position: absolute;
      top: 117px;
      right: -24px;
      transform: rotateY(178deg);
      right: 0;
      left: -24px;
      transform: rotate3d(0, 0, 0, 0deg); }
  .sectionPrice .sectionPrice__Block {
    display: flex;
    flex-wrap: wrap; }
    .sectionPrice .sectionPrice__Block ul {
      width: 33%; }
      .sectionPrice .sectionPrice__Block ul li {
        font-size: 16px;
        font-weight: 500;
        color: #b3b3b3;
        vertical-align: baseline;
        padding: 15px 0; }
    .sectionPrice .sectionPrice__Block .priceTitleBasic li {
      border-bottom: 2px solid #ffbf37;
      border-right: 2px solid #ffbf37; }
      .sectionPrice .sectionPrice__Block .priceTitleBasic li span {
        font-size: 25px; }
      .sectionPrice .sectionPrice__Block .priceTitleBasic li:first-child {
        color: #8d8d8d;
        font-size: 23px;
        font-weight: 400; }
      .sectionPrice .sectionPrice__Block .priceTitleBasic li:last-child {
        font-size: 35px;
        padding-top: 50px;
        border-bottom: none; }
    .sectionPrice .sectionPrice__Block .priceTitleStandart li {
      color: #000;
      border-bottom: 2px solid #ffbf37; }
      .sectionPrice .sectionPrice__Block .priceTitleStandart li span {
        font-size: 20px; }
      .sectionPrice .sectionPrice__Block .priceTitleStandart li:first-child {
        color: #f26c4f;
        font-size: 27px;
        font-weight: 400;
        margin-top: -14px;
        padding: 0 0 40px 0; }
      .sectionPrice .sectionPrice__Block .priceTitleStandart li:last-child {
        font-size: 68px;
        color: #f26c4f;
        border-bottom: none; }
    .sectionPrice .sectionPrice__Block .priceTitlePremium li {
      border-bottom: 2px solid #ffbf37;
      border-left: 2px solid #ffbf37; }
      .sectionPrice .sectionPrice__Block .priceTitlePremium li span {
        font-size: 25px; }
      .sectionPrice .sectionPrice__Block .priceTitlePremium li:first-child {
        color: #fbc73a;
        font-size: 23px;
        font-weight: 400; }
      .sectionPrice .sectionPrice__Block .priceTitlePremium li:last-child {
        font-size: 35px;
        color: #efb415;
        padding-top: 50px;
        border-bottom: none; }
    .sectionPrice .sectionPrice__Block .sectionPrice__Block2 {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin: 40px 0; }
      .sectionPrice .sectionPrice__Block .sectionPrice__Block2 .basicImput {
        text-decoration: none;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 15px 54px;
        margin-bottom: 7px;
        background: #a5a5a5; }
      .sectionPrice .sectionPrice__Block .sectionPrice__Block2 .standartImput {
        background: #f26c4f;
        font-size: 17px;
        font-weight: 400;
        padding: 17px 57px;
        border-radius: 3px;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1); }
      .sectionPrice .sectionPrice__Block .sectionPrice__Block2 .ptemiumImput {
        text-decoration: none;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 15px 54px;
        margin-bottom: 7px;
        background: #ffc038; }

.sectionHistory {
  width: 993px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  padding: 65px 0; }
  .sectionHistory .sectionHistory__bloc {
    background: #fff;
    padding: 20px; }
  .sectionHistory .sectionHistory__block2 {
    margin-left: 20px; }
    .sectionHistory .sectionHistory__block2 p.title {
      display: inline-block;
      color: #fff;
      background: #464646;
      padding: 11px 92px;
      border-radius: 3px;
      font-size: 26px;
      text-transform: uppercase;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 700;
      margin: 140px 0 180px;
      box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
      position: relative;
      margin: 0;
      padding: 15px 32px; }
    .sectionHistory .sectionHistory__block2 p.title + p {
      padding: 20px 0;
      font-size: 16px;
      font-weight: 300;
      line-height: 30px; }
    .sectionHistory .sectionHistory__block2 a {
      display: inline-block;
      color: #fdfcfc;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      color: #464646;
      background: #ffc038;
      padding: 17px 37px;
      margin-top: 15px;
      border-radius: 3px;
      box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      color: #3a3a3a; }

.team {
  text-align: center; }
  .team .titleTeam {
    width: 993px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif; }
    .team .titleTeam .title {
      text-align: center;
      display: inline-block;
      color: #fff;
      background: #464646;
      padding: 11px 92px;
      border-radius: 3px;
      font-size: 26px;
      text-transform: uppercase;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 700;
      margin: 140px 0 180px;
      box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
      position: relative;
      margin: 90px auto 130px;
      padding: 12px 78px; }
      .team .titleTeam .title:before {
        display: inline-block;
        content: "";
        width: 56px;
        height: 96px;
        background: url("../../build/img/Shape_2.png") no-repeat;
        margin-left: 10px;
        position: absolute;
        top: 24px;
        right: -71px; }
      .team .titleTeam .title::after {
        content: "";
        width: 34px;
        height: 24px;
        background: url("../../build/img/send_black.png") no-repeat;
        position: absolute;
        top: 117px;
        right: -24px;
        transform: rotateY(178deg); }
  .team .blockYellow {
    padding: 40px 0; }
    .team .blockYellow .team__block {
      width: 993px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      font-family: 'Roboto', sans-serif;
      color: #f5f5f5; }
      .team .blockYellow .team__block ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end; }
        .team .blockYellow .team__block ul li img {
          width: 125px;
          height: 125px;
          background: #b3b3b3;
          border-radius: 50%; }
        .team .blockYellow .team__block ul li h6 {
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          margin: 18px 0 10px; }
        .team .blockYellow .team__block ul li span {
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase; }

.team + .section1 .title:before {
  display: inline-block;
  content: "";
  width: 56px;
  height: 96px;
  background: url("../../build/img/Shape_2.png") no-repeat;
  margin-left: 10px;
  position: absolute;
  top: 24px;
  right: -71px;
  right: 0;
  left: -82px;
  transform: rotateY(178deg); }

.team + .section1 .title::after {
  content: "";
  width: 34px;
  height: 24px;
  background: url("../../build/img/send_black.png") no-repeat;
  position: absolute;
  top: 117px;
  right: -24px;
  transform: rotateY(178deg);
  right: 0;
  left: -24px;
  transform: rotate3d(0, 0, 0, 0deg); }

.team + .section1 .blockText {
  padding: 0 17px 0 0; }
  .team + .section1 .blockText p {
    line-height: 28px; }

/*# sourceMappingURL=main.css.map */
