@mixin wrap {
	width: 100%;
	margin: 0 auto;
	display: block;
}

@mixin btn {
	color: #464646;
	background: #ffc038;
	padding: 17px 37px;
	margin-top: 15px;
	border-radius: 3px;
	box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
}

@mixin a {
	display: inline-block;
	color: #fdfcfc;
	font-family: 'Roboto',
		sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
}


@media (min-width: 768px) and (max-width: 992.98px) {
	.blockYellow {
		padding: 30px 0 58px;

		.headerBody {
			width: 100%;
			padding: 0 10px 30px 10px;

			h1 {
				width: 30%;
			}

			nav {
				width: 70%;
			}
		}

		.headerSection {
			width: 100%;

			.block {
				color: #fdfcfc;
				width: 40%;
				margin: 20px 0 0 10px;

				h2 {
					font-size: 30px;

					p {
						font-size: 30px;
					}
				}

				>p {

					padding: 0;
				}
			}

			.owl-carousel {
				margin-top: 75px;
				width: 60%;

				img {
					width: 100%;
					height: auto;
				}

				.owl-carouselImgPhone {
					&:after {
						bottom: -14px;
						right: 10px;
					}
				}
			}
		}
	}

	main {
		@include wrap();
		font-family: 'Roboto',
			sans-serif;

		.mainSection1 {
			text-align: center;

			.title {
				margin: 25px 0 120px;
			}

		}

		.mainSection1__block {
			margin: 0 0 20px 0;

			.blockImg {
				width: 50%;
				margin-top: 20px;


				img {
					width: 100%;
					height: auto;
				}
			}

			.blockText {
				width: 50%;
				text-align: center;
				padding: 0 8px;

				h3 {
					font-size: 18px;
					font-weight: 700;
					text-transform: uppercase;
					color: #252525;
				}

				a {
					@include a();
					@include btn();
					margin-bottom: 27px;

				}
			}
		}

		.mainSection1__block+.mainSection1__block {
			.blockText {
				padding: 0 8px;
			}
		}

		.mainSection1__block+.mainSection1__block+.mainSection1__block {
			.blockText {
				padding: 0 8px;
			}
		}
	}
}


@media (min-width: 200px) and (max-width: 767.98px) {
	.blockYellow {
		padding: 30px 0 58px;

		.headerBody {
			width: 100%;
			display: block;
			text-align: center;
			padding-bottom: 0;

			h1 {
				display: inline;
				font-size: 26px;
				margin: 0 auto;

			}

			nav {
				width: 100%;
				margin-top: 25px;

				ul {
					font-size: 0;
					display: block;

					li {
						display: block;
						font-size: 14px;
						text-align: center;
						margin: 5px 0;

						a {
							display: inline-block;
							border-bottom: 2px solid #464646;
							padding: 0 15px 5px 15px;

						}
					}

				}
			}
		}


		.headerSection {
			width: 100%;
			display: block;

			.block {
				color: #fdfcfc;
				width: 100%;
				text-align: center;
				margin-top: 20px;

				&::before {
					display: none;
				}

				&::after {
					display: none;
				}

				h2 {
					font-size: 35px;

					p {
						font-size: 35px;
					}
				}

				>p {
					padding-right: 0;
				}
			}

			.owl-carousel {
				margin-top: 50px;
				width: 100%;

				img {
					width: 100%;
					height: auto;
				}

				.owl-carouselImgPhone {
					&:after {
						display: none;
					}
				}
			}
		}
	}

	main {
		@include wrap();
		font-family: 'Roboto',
			sans-serif;

		.mainSection1 {
			text-align: center;

			.title {
				margin: 25px 0 20px;

				&:before {
					display: none;


				}

				&::after {
					display: none;
				}
			}

		}

		.mainSection1__block {
			@include wrap();
			margin-top: 0px;

			.blockImg {
				width: 100%;

				img {
					width: 100%;
					height: auto;
				}
			}

			.blockText {
				width: 100%;
				text-align: center;
				padding: 0 8px;
				;

				h3 {

					margin: 20px 0;
				}

				a {
					@include a();
					@include btn();
					margin-bottom: 27px;

				}
			}
		}

		.mainSection1__block+.mainSection1__block {
			.blockText {
				padding: 0 8px;
			}
		}

		.mainSection1__block+.mainSection1__block+.mainSection1__block {
			.blockText {
				padding: 0 8px;
			}
		}
	}
}