@media (min-width: 768px) and (max-width: 992.98px) {
  .blockYellow {
    padding: 30px 0 58px; }
    .blockYellow .headerBody {
      width: 100%;
      padding: 0 10px 30px 10px; }
      .blockYellow .headerBody h1 {
        width: 30%; }
      .blockYellow .headerBody nav {
        width: 70%; }
    .blockYellow .headerSection {
      width: 100%; }
      .blockYellow .headerSection .block {
        color: #fdfcfc;
        width: 40%;
        margin: 20px 0 0 10px; }
        .blockYellow .headerSection .block h2 {
          font-size: 30px; }
          .blockYellow .headerSection .block h2 p {
            font-size: 30px; }
        .blockYellow .headerSection .block > p {
          padding: 0; }
      .blockYellow .headerSection .owl-carousel {
        margin-top: 75px;
        width: 60%; }
        .blockYellow .headerSection .owl-carousel img {
          width: 100%;
          height: auto; }
        .blockYellow .headerSection .owl-carousel .owl-carouselImgPhone:after {
          bottom: -14px;
          right: 10px; }
  .section1 {
    width: 100%;
    margin: 0 auto;
    display: block;
    font-family: 'Roboto', sans-serif;
    text-align: center; }
    .section1 .title {
      margin: 25px 0 120px; }
  .section1__block {
    margin: 0 10px 20px; }
    .section1__block .blockImg {
      width: 50%;
      margin-top: 20px; }
      .section1__block .blockImg img {
        width: 100%;
        height: auto; }
    .section1__block .blockText {
      width: 50%;
      text-align: center;
      padding: 0 15px; }
      .section1__block .blockText h3 {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #252525; }
      .section1__block .blockText a {
        display: inline-block;
        color: #fdfcfc;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: #464646;
        background: #ffc038;
        padding: 17px 37px;
        margin-top: 15px;
        border-radius: 3px;
        box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
        margin-bottom: 27px; }
  .section1__block + .section1__block .blockText {
    padding: 0 8px; }
  .section1__block + .section1__block + .section1__block .blockText {
    padding: 0 8px; }
  .sectionContent {
    width: 100%;
    background-size: cover; }
    .sectionContent .sectionContent__block {
      width: 100%; }
      .sectionContent .sectionContent__block .sectionContent__block_background {
        background-size: 100%;
        padding: 420px 0; }
  .sectionFeatures {
    width: 100%; }
    .sectionFeatures .title {
      margin: 13px 0 80px; }
    .sectionFeatures .sectionFeatures__block {
      width: 100%; }
      .sectionFeatures .sectionFeatures__block article {
        width: 45%;
        margin: 30px 11px; }
  .sectionPrice {
    width: 100%;
    text-align: center, sans-serif; }
    .sectionPrice p {
      margin: 13px 0 80px; }
    .sectionPrice .sectionPrice__Block {
      justify-content: space-around; }
      .sectionPrice .sectionPrice__Block ul {
        width: 45%;
        margin-top: 30px;
        padding: 0 25px; }
      .sectionPrice .sectionPrice__Block .priceTitleBasic li {
        border-right: none; }
        .sectionPrice .sectionPrice__Block .priceTitleBasic li:last-child {
          padding-top: 15px; }
      .sectionPrice .sectionPrice__Block .priceTitleStandart li:first-child {
        margin-top: 0px; }
      .sectionPrice .sectionPrice__Block .priceTitlePremium {
        order: -1; }
        .sectionPrice .sectionPrice__Block .priceTitlePremium li {
          border-left: none; }
          .sectionPrice .sectionPrice__Block .priceTitlePremium li:last-child {
            padding-top: 15px; }
        .sectionPrice .sectionPrice__Block .priceTitlePremium .sectionPrice__Block2 {
          flex-wrap: wrap;
          justify-content: space-around;
          margin: 40px 0; }
          .sectionPrice .sectionPrice__Block .priceTitlePremium .sectionPrice__Block2 .basicImput,
          .sectionPrice .sectionPrice__Block .priceTitlePremium .sectionPrice__Block2 .standartImput {
            width: 45%; }
          .sectionPrice .sectionPrice__Block .priceTitlePremium .sectionPrice__Block2 .ptemiumImput {
            width: 45%;
            order: -1; }
  .sectionPrice + .sectionContent .sectionHistory {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 25px 10px; }
    .sectionPrice + .sectionContent .sectionHistory .sectionHistory__bloc {
      width: 100%;
      padding: 10px; }
      .sectionPrice + .sectionContent .sectionHistory .sectionHistory__bloc img {
        width: 100%;
        height: auto; }
    .sectionPrice + .sectionContent .sectionHistory .sectionHistory__block2 {
      width: 100%;
      padding: 25px 10px;
      margin-left: 0;
      text-align: center; }
  .team .titleTeam {
    width: 100%; }
    .team .titleTeam .title {
      margin: 20px auto 110px; }
  .team .blockYellow {
    padding: 15px 0; }
    .team .blockYellow .team__block {
      width: 100%; }
      .team .blockYellow .team__block ul {
        flex-wrap: wrap; }
        .team .blockYellow .team__block ul li {
          width: 50%;
          margin: 10px auto; } }

@media (min-width: 200px) and (max-width: 767.98px) {
  .blockYellow {
    padding: 30px 0 58px; }
    .blockYellow .headerBody {
      width: 100%;
      display: block;
      text-align: center;
      padding-bottom: 0; }
      .blockYellow .headerBody h1 {
        display: inline;
        font-size: 26px;
        margin: 0 auto; }
      .blockYellow .headerBody nav {
        width: 100%;
        margin-top: 25px; }
        .blockYellow .headerBody nav ul {
          font-size: 0;
          display: block; }
          .blockYellow .headerBody nav ul li {
            display: block;
            font-size: 14px;
            text-align: center;
            margin: 5px 0; }
            .blockYellow .headerBody nav ul li a {
              display: inline-block;
              border-bottom: 2px solid #464646;
              padding: 0 15px 5px 15px; }
    .blockYellow .headerSection {
      width: 100%;
      display: block; }
      .blockYellow .headerSection .block {
        color: #fdfcfc;
        width: 100%;
        text-align: center;
        margin-top: 20px; }
        .blockYellow .headerSection .block:before {
          display: none; }
        .blockYellow .headerSection .block::after {
          display: none; }
        .blockYellow .headerSection .block h2 {
          font-size: 35px; }
          .blockYellow .headerSection .block h2 p {
            font-size: 35px; }
        .blockYellow .headerSection .block > p {
          padding-right: 0; }
      .blockYellow .headerSection .owl-carousel {
        margin-top: 50px;
        width: 100%; }
        .blockYellow .headerSection .owl-carousel img {
          width: 100%;
          height: auto; }
        .blockYellow .headerSection .owl-carousel .owl-carouselImgPhone:after {
          display: none; }
  .section1 {
    width: 100%;
    margin: 0 auto;
    display: block;
    font-family: 'Roboto', sans-serif;
    text-align: center; }
    .section1 .title {
      margin: 25px 0 20px; }
      .section1 .title:before {
        display: none; }
      .section1 .title::after {
        display: none; }
  .section1__block {
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 0px; }
    .section1__block .blockImg {
      width: 100%; }
      .section1__block .blockImg img {
        width: 100%;
        height: auto; }
    .section1__block .blockText {
      width: 100%;
      text-align: center;
      padding: 0 8px; }
      .section1__block .blockText h3 {
        margin: 20px 0; }
      .section1__block .blockText a {
        display: inline-block;
        color: #fdfcfc;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: #464646;
        background: #ffc038;
        padding: 17px 37px;
        margin-top: 15px;
        border-radius: 3px;
        box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
        margin-bottom: 27px; }
  .section1__block + .section1__block .blockText {
    padding: 0 8px; }
  .section1__block + .section1__block + .section1__block .blockText {
    padding: 0 8px; }
  .sectionContent {
    display: none; }
  .sectionFeatures {
    width: 100%;
    margin: 0 auto;
    display: block;
    display: block;
    text-align: center; }
    .sectionFeatures .title {
      margin: 13px 0 12px; }
      .sectionFeatures .title:before {
        display: none; }
      .sectionFeatures .title::after {
        display: none; }
    .sectionFeatures .sectionFeatures__block {
      width: 100%;
      margin: 0 auto;
      display: block; }
      .sectionFeatures .sectionFeatures__block article {
        width: 93%;
        margin: 30px 11px; }
  .sectionPrice {
    width: 100%;
    text-align: center, sans-serif; }
    .sectionPrice p {
      margin: 13px 0 12px; }
      .sectionPrice p:before {
        display: none; }
      .sectionPrice p::after {
        display: none; }
    .sectionPrice .sectionPrice__Block ul {
      width: 100%;
      margin-top: 30px;
      padding: 0 25px; }
    .sectionPrice .sectionPrice__Block .priceTitleBasic li {
      border-right: none; }
      .sectionPrice .sectionPrice__Block .priceTitleBasic li:last-child {
        padding-top: 15px; }
    .sectionPrice .sectionPrice__Block .priceTitleStandart li:first-child {
      margin-top: 0px; }
    .sectionPrice .sectionPrice__Block .priceTitlePremium li {
      border-left: none; }
    .sectionPrice .sectionPrice__Block .sectionPrice__Block2 {
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 40px 0; }
      .sectionPrice .sectionPrice__Block .sectionPrice__Block2 .basicImput,
      .sectionPrice .sectionPrice__Block .sectionPrice__Block2 .standartImput {
        width: 45%; }
      .sectionPrice .sectionPrice__Block .sectionPrice__Block2 .ptemiumImput {
        width: 45%;
        order: -1; }
  .sectionPrice + .sectionContent {
    display: block; }
    .sectionPrice + .sectionContent .sectionHistory {
      width: 100%;
      margin: 0 auto;
      display: block;
      padding: 25px 10px; }
      .sectionPrice + .sectionContent .sectionHistory .sectionHistory__bloc {
        width: 100%;
        padding: 10px; }
        .sectionPrice + .sectionContent .sectionHistory .sectionHistory__bloc img {
          width: 100%;
          height: auto; }
      .sectionPrice + .sectionContent .sectionHistory .sectionHistory__block2 {
        width: 100%;
        margin-left: 0; }
  .team .titleTeam {
    width: 100%;
    margin: 0 auto;
    display: block; }
    .team .titleTeam .title {
      margin: 20px auto 30px; }
      .team .titleTeam .title:before {
        display: none; }
      .team .titleTeam .title::after {
        display: none; }
  .team .blockYellow {
    padding: 15px 0; }
    .team .blockYellow .team__block {
      width: 100%;
      margin: 0 auto;
      display: block; }
      .team .blockYellow .team__block ul {
        flex-wrap: wrap; }
        .team .blockYellow .team__block ul li {
          width: 100%;
          margin-top: 20px; }
  .team + .section1 {
    width: 100%; }
    .team + .section1 .section1__block .title:before {
      display: none; }
    .team + .section1 .section1__block .title::after {
      display: none; }
    .team + .section1 .blockText {
      width: 100%;
      padding: 0 17px 0 0; }
      .team + .section1 .blockText p {
        line-height: 28px; }
    .team + .section1 .blockImg {
      width: 100%; } }

/*# sourceMappingURL=media.css.map */
