@import '_mixin';



@media (min-width: 768px) and (max-width: 992.98px) {
	.blockYellow {
		padding: 30px 0 58px;

		.headerBody {
			width: 100%;
			padding: 0 10px 30px 10px;

			h1 {
				width: 30%;
			}

			nav {
				width: 70%;
			}
		}

		.headerSection {
			width: 100%;

			.block {
				color: #fdfcfc;
				width: 40%;
				margin: 20px 0 0 10px;

				h2 {
					font-size: 30px;

					p {
						font-size: 30px;
					}
				}

				>p {

					padding: 0;
				}
			}

			.owl-carousel {
				margin-top: 75px;
				width: 60%;

				img {
					width: 100%;
					height: auto;
				}

				.owl-carouselImgPhone {
					&:after {
						bottom: -14px;
						right: 10px;
					}
				}
			}
		}
	}



	.section1 {
		@include wrap();
		font-family: 'Roboto',
			sans-serif;
		text-align: center;

		.title {
			margin: 25px 0 120px;
		}



		.section1__block {
			margin: 0 10px 20px;

			.blockImg {
				width: 50%;
				margin-top: 20px;


				img {
					width: 100%;
					height: auto;
				}
			}

			.blockText {
				width: 50%;
				text-align: center;
				padding: 0 15px;

				h3 {
					font-size: 18px;
					font-weight: 700;
					text-transform: uppercase;
					color: #252525;
				}

				a {
					@include a();
					@include btn();
					margin-bottom: 27px;

				}
			}
		}

		.section1__block+.section1__block {
			.blockText {
				padding: 0 8px;
			}
		}

		.section1__block+.section1__block+.section1__block {
			.blockText {
				padding: 0 8px;
			}
		}


	}



	.sectionContent {
		width: 100%;
		background-size: cover;

		.sectionContent__block {
			width: 100%;


			.sectionContent__block_background {
				background-size: 100%;
				padding: 420px 0;
			}
		}
	}

	.sectionFeatures {
		width: 100%;


		.title {
			margin: 13px 0 80px;
		}

		.sectionFeatures__block {
			width: 100%;

			article {
				width: 45%;
				margin: 30px 11px;
			}
		}
	}

	.sectionPrice {
		width: 100%;
		text-align: center,
			sans-serif;

		p {
			margin: 13px 0 80px;


		}


		.sectionPrice__Block {
			justify-content: space-around;

			ul {
				width: 45%;
				margin-top: 30px;
				padding: 0 25px;
			}

			.priceTitleBasic {
				li {
					border-right: none;

					&:last-child {
						padding-top: 15px;
					}
				}
			}

			.priceTitleStandart {

				li {


					&:first-child {
						margin-top: 0px;
					}
				}
			}

			.priceTitlePremium {
				order: -1;

				li {
					border-left: none;

					&:last-child {
						padding-top: 15px;
					}

				}

				.sectionPrice__Block2 {
					flex-wrap: wrap;
					justify-content: space-around;
					margin: 40px 0;

					.basicImput,
					.standartImput {
						width: 45%;

					}

					.ptemiumImput {
						width: 45%;
						order: -1;
						;
					}
				}
			}

		}
	}

	.sectionPrice+.sectionContent {

		.sectionHistory {
			@include wrap();
			padding: 25px 10px;

			.sectionHistory__bloc {
				width: 100%;
				padding: 10px;

				img {
					width: 100%;
					height: auto;
				}
			}

			.sectionHistory__block2 {
				width: 100%;
				padding: 25px 10px;

				margin-left: 0;
				text-align: center;
			}

		}
	}


	.team {
		.titleTeam {
			width: 100%;

			.title {
				margin: 20px auto 110px;

			}
		}

		.blockYellow {
			padding: 15px 0;

			.team__block {
				width: 100%;

				ul {

					flex-wrap: wrap;


					li {
						width: 50%;
						margin: 10px auto;

					}
				}
			}
		}
	}

	.team+.section1 {
		.section1__block {
			.blockText {
				p {
					line-height: 23px;
				}
			}
		}
	}

	.hire_us {
		min-height: 250px;

		.blockYellow {
			.hire_us__block {
				align-items: center;
				flex-direction: column;
				width: 100%;

			}
		}
	}

	footer {

		.footer {
			width: 100%;

			ul.footer_blockUl {
				padding-left: 80px;


				li {
					margin: 0;
					width: 50%;


					ul.footer_blockUl_ul {

						li {
							margin: 25px 0;

						}
					}

				}
			}

			.social {
				order: 0;
				padding: 30px 0;

			}

			p {
				padding: 12px 0 15px;
			}
		}
	}
}

@media (min-width: 200px) and (max-width: 767.98px) {
	.blockYellow {
		padding: 30px 0 58px;

		.headerBody {
			width: 100%;
			display: block;
			text-align: center;
			padding-bottom: 0;

			h1 {
				display: inline;
				font-size: 26px;
				margin: 0 auto;

			}

			nav {
				width: 100%;
				margin-top: 25px;

				ul {
					font-size: 0;
					display: block;

					li {
						display: block;
						font-size: 14px;
						text-align: center;
						margin: 5px 0;

						a {
							display: inline-block;
							border-bottom: 2px solid #464646;
							padding: 0 15px 5px 15px;

						}
					}

				}
			}
		}


		.headerSection {
			width: 100%;
			display: block;

			.block {
				color: #fdfcfc;
				width: 100%;
				text-align: center;
				margin-top: 20px;

				@include none();


				h2 {
					font-size: 35px;

					p {
						font-size: 35px;
					}
				}

				>p {
					padding-right: 0;
				}
			}

			.owl-carousel {
				margin-top: 50px;
				width: 100%;

				img {
					width: 100%;
					height: auto;
				}

				.owl-carouselImgPhone {
					&:after {
						display: none;
					}
				}
			}
		}
	}




	.section1 {
		@include wrap();
		font-family: 'Roboto',
			sans-serif;
		text-align: center;

		.title {
			margin: 25px 0 20px;
			@include none();

		}



		.section1__block {
			@include wrap();
			margin-top: 0px;

			.blockImg {
				width: 100%;

				img {
					width: 100%;
					height: auto;
				}
			}

			.blockText {
				width: 100%;
				text-align: center;
				padding: 0 8px;
				;

				h3 {

					margin: 20px 0;
				}

				a {
					@include a();
					@include btn();
					margin-bottom: 27px;

				}
			}

		}


		.section1__block+.section1__block {
			.blockText {
				padding: 0 8px;
			}
		}

		.section1__block+.section1__block+.section1__block {
			.blockText {
				padding: 0 8px;
			}
		}
	}



	.sectionContent {
		display: none;
	}

	.sectionFeatures {
		@include wrap();
		display: block;
		text-align: center;

		.title {
			margin: 13px 0 12px;

			@include none();

		}

		.sectionFeatures__block {
			@include wrap();

			article {
				width: 93%;
				margin: 30px 11px;
			}
		}
	}

	.sectionPrice {
		width: 100%;
		text-align: center,
			sans-serif;

		p {
			margin: 13px 0 12px;
			@include none();

		}


		.sectionPrice__Block {


			ul {
				width: 100%;
				margin-top: 30px;
				padding: 0 25px;
			}

			.priceTitleBasic {
				li {
					border-right: none;

					&:last-child {
						padding-top: 15px;
					}
				}
			}

			.priceTitleStandart {
				li {


					&:first-child {
						margin-top: 0px;
					}
				}
			}

			.priceTitlePremium {
				li {
					border-left: none;
				}
			}

			.sectionPrice__Block2 {
				flex-wrap: wrap;
				justify-content: space-around;
				margin: 40px 0;

				.basicImput,
				.standartImput {
					width: 45%;

				}

				.ptemiumImput {
					width: 45%;
					order: -1;
					;
				}
			}
		}

	}

	.sectionPrice+.sectionContent {
		display: block;

		.sectionHistory {
			@include wrap();
			padding: 25px 10px;

			.sectionHistory__bloc {
				width: 100%;
				padding: 10px;

				img {
					width: 100%;
					height: auto;
				}
			}

			.sectionHistory__block2 {
				width: 100%;
				margin-left: 0;

			}

		}
	}

	.team {
		.titleTeam {
			@include wrap();

			.title {
				margin: 20px auto 30px;
				@include none();
			}
		}

		.blockYellow {
			padding: 15px 0;

			.team__block {
				@include wrap();

				ul {

					flex-wrap: wrap;


					li {
						width: 100%;
						margin-top: 20px;

					}
				}
			}
		}
	}

	.team+.section1 {
		width: 100%;

		.section1__block {
			display: flex;

			width: 100%;
			flex-wrap: wrap;

			.title {
				@include none();

			}

			.blockText {
				width: 100%;
				padding: 0 17px 0 0;
				text-align: center;


				p {
					line-height: 23px;
				}
			}

			.blockImg {
				order: -1;
				width: 100%;
			}
		}
	}

	.hire_us {
		min-height: 250px;

		.blockYellow {
			.hire_us__block {
				align-items: center;
				flex-direction: column;
				width: 100%;

			}
		}
	}

	footer {

		.footer {
			width: 100%;

			ul.footer_blockUl {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				width: 100%;
				text-align: center;

				li {
					margin: 0;
					width: 100%;

					ul.footer_blockUl_ul {
						li {
							margin: 25px 0;

						}
					}

				}
			}

			.social {
				order: 0;
				padding: 30px 0;

			}

			p {
				padding: 12px 0 15px;
			}
		}
	}
}